button {
  font-weight: 500;
}

button a {
  text-decoration: none !important;
}

.btn-outline-b {
  text-decoration: none !important;
  font-weight: 500;
  background-color: #fff;
  border: 2px solid #007bff !important;
  border-radius: 20px;
  color: #007bff;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.btn-outline-b:hover {
  background-color: rgba(112, 181, 249, 0.1);
  color: #007bff;
}

.btn-outline-b:active {
  background-color: rgba(112, 181, 249, 0.2);
  transform: scale(0.95);
}

.btn-outline {
  font-weight: 500;
  text-decoration: none !important;
  background-color: #fff;
  border: 2px solid #565656 !important;
  border-radius: 20px;
  color: #363636;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background-color: rgba(166, 166, 166, 0.1);
  color: #363636;
}

.btn-outline:active {
  background-color: rgba(166, 166, 166, 0.1);
  transform: scale(0.95);
}

.btn-custom {
  font-weight: 500;
  text-decoration: none !important;
  background-color: transparent;
  border: none !important;
  border-radius: 20px;
  color: #2c2c2c;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #f0f0f0;
  color: #2c2c2c;
}

.custom-dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  padding: 0.3rem ;
}

.custom-dropdown-item {
  color: #495057;
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.2s ease;
}

.custom-dropdown-item:hover {
  background-color: #e9ecef;
  color: #212529;
}

.custom-dropdown-item:focus {
  outline: none;
  background-color: #e9ecef;
}